body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Trebuchet MS', 'Helvetica';
}


header {
	height: 70px;
	width: 600px;
	padding-bottom: 40px;
}

.link a {
	text-decoration: none;
	display: block;
	text-decoration-color: black;
}

.links {
	background: #9999FF;
	border-radius: 25px;

	width: 600px;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;

}

.link {
	width:25%;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link:hover{
	background-color: #6666FF;
	border-radius: 25px;
}
content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #CCCCFF;
	width: 560px;
	height: 80%;
	border-radius: 25px;
	padding: 30px;
}

.input_inner {
	background:red;
}

#id_url, #id_title, #id_add_documents {
	border-radius: 25px;
	height: 20px;
	width: 413px;
	font-family: 'Trebuchet MS', 'Helvetica';
}

.result_inner a {
	text-decoration: none;	
}

ul.dropdown li { position: relative; }
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 padding: 0;
 }
 ul.dropdown-inside {
 position: absolute;
 left: -9999px;
 }
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;
 margin: 0 1px 0 0;
 }
 ul.dropdown li.dropdown-top a {
 padding: 3px 10px 4px;
 display: block;
 }
 ul.dropdown a.dropdown-top { background: #efefef; }
 ul.dropdown a.dropdown-top:hover { padding: 2px 10px 5px; }
 ul.dropdown li.dropdown-top:hover .dropdown-inside {
 display: block;
 left: 0;
 }
 ul.dropdown .dropdown-inside { background: #fff; }
 ul.dropdown .dropdown-inside a:hover { background: #efefef; }

header:not(:first-child) {
    display: none;
}

.forms_inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
